[submodule "src/access_moppy/vocabularies/cmip7-cmor-tables"]
	path = src/access_moppy/vocabularies/cmip7-cmor-tables
	url = git@github.com:WCRP-CMIP/cmip7-cmor-tables.git
[submodule "src/access_moppy/vocabularies/CMIP7_CVs"]
	path = src/access_moppy/vocabularies/CMIP7_CVs
	url = git@github.com:WCRP-CMIP/CMIP7-CVs.git
