[submodule "src/access_moppy/vocabularies/cmip7-cmor-tables"]
	path = src/access_moppy/vocabularies/cmip7-cmor-tables
	url = git@github.com:WCRP-CMIP/cmip7-cmor-tables.git
[submodule "src/access_moppy/vocabularies/CMIP7_CVs"]
	path = src/access_moppy/vocabularies/CMIP7_CVs
	url = git@github.com:WCRP-CMIP/CMIP7-CVs.git
    branch = production
[submodule "src/access_moppy/vocabularies/CMIP6_CVs"]
	path = src/access_moppy/vocabularies/CMIP6_CVs
	url = git@github.com:WCRP-CMIP/CMIP6_CVs.git
    branch = main
[submodule "src/access_moppy/vocabularies/CMIP6Plus_CVs"]
	path = src/access_moppy/vocabularies/CMIP6Plus_CVs
	url = git@github.com:WCRP-CMIP/CMIP6Plus_CVs.git
    branch = main
